.edit {
    margin: 0px 10px 10px 10px;
    min-height: 150px;
    max-height: 150px;
    padding: 5px;
    color: #000;
    font-size: 18px;
    overflow: auto;
    border:1px solid #000;
}
.q-message-text{
    font-size:18px;
}
.q-message-name{
    font-size:14px;
}